@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Font Family */
@font-face {
  font-family: Sangblue;
  src: url("../assets/font/SangBleu\ Sunrise.ttf");
}

:root {
  --primary-color: #aa6aaa;
  --secondary-color: #e5dce5;
  --third-color: #717175;
}

body {
  font-family:" Sangblue", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}
ul {
  padding-left: 0 !important;
}

.container {
  max-width: 1140px;
}

.btn {
  font-family: "DM Sans", sans-serif;
}

.btn-primary {
  background: var(--primary-color);
  border: none;
}

.btn-primary:hover {
  background: #d886d8;
}
.btn-secondary {
  background: var(--secondary-color);
  color: black;
  border: none;
}

p {
  font-family: "DM Sans", sans-serif;
  color: var(--third-color);
}

.title1 {
  font-size: 54px;
}

.title2 {
  font-size: 50px;
}

/* Headr Section */

.navbar-wrapper {
  flex-grow: 2;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}
.navbar-brand {
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav-btn-sm {
  display: none;
}

.offcanvas {
  flex-direction: row;
}

.navbar-container {
  max-width: 1428px !important;
}

.navbar-nav {
  margin-right: 33px;
}

.nav-logo {
  position: absolute;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  left: 52px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-btn > .btn {
  --bs-btn-padding-x: 16px;
  --bs-btn-padding-y: 14px;
}
.nav-item > .nav-link:hover {
  text-decoration: underline;
  color: #d886d8;
}
.nav-btn>.btn:hover{
  background: #8a737d;
}
/* Banner Section */

.banner-section {
  padding: 0px 15px 90px;
}

.banner-wrpr {
  background: url("../assets/bg.png") no-repeat center/cover;
  border-radius: 20px;
  text-align: center;
  padding-top: 80px;
}

.banner-content > h1 {
  max-width: 984px;
  margin: 0 auto 22px;
  padding-top: 25px;
}

.banner-content > .btn {
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 20px;
}

.banner-content > p {
  max-width: 817px;
  margin: 0 auto 30px;
}

.banner-content > a {
  margin-bottom: 36px;
}

.image {
  border: 1px solid white;
  max-width: 1140px;
  padding: 13px 15px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image > img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Unlock section */
.unlock-section {
  padding: 32px 16px;
  max-width: 1100px;
  margin: 0 auto;
}

.unlock-section h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 32px;
  color: #222222;
}

.unlock-img {
  width: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.1);
}

.unlock-text p {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  line-height: 1.45;
}

.btn-secondary-custom {
  background-color: var(--primary-color);
  color: white;
  padding: 0.45rem 1.8rem;
  border-radius: 60px;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Cards section */
.card-section > div > .title2 {
  margin: 0 auto;
  max-width: 834px;
  text-align: center;
  margin-bottom: 47px;
}
.card-section {
  padding: 102px 0 100px;
  background: linear-gradient(
    to bottom,
    rgb(244, 242, 245, 1),
    rgba(237, 232, 239, 0.8),
    rgba(228, 222, 231, 0.5)
  );
}
.card-container {
  max-width: 1500px;
}
.card-img1 {
  height: 356px;
  border-radius: 10px;
}
.card-img1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card {
  height: 356px;
  background-color: #e3dde3;
  padding: 57px 29px 30px 28px;
  border: none;
  flex-direction: column;
  justify-content: space-evenly;
}
.title-3 {
  color: white;
  font-size: 28px;
  font-family: SangBleu Sunrise;
}
.card > p {
  color: var(--secondary-color);
  margin-block: 10px 15px;
  font-family: DM Sans;
}
.card > a {
  font-family: DM Sans;
  color: black;
}
.card2 {
  background-color: #aa6aaa;
}
.card2 > h3,
.card2 > div > p,
.card2 > a {
  color: white;
}

/* Testimonial Section */
.testimonial-section {
  padding: 100px 0 150px !important;
  position: relative;
}
.testimonial-section .title2 {
  margin: 0 auto 37px;
  text-align: center;
}
.slider-btn {
  text-align: center;
  margin: 0 auto 25px;
  padding: 10px 18px;
  border: 1px solid #efeeed;
  border-radius: 50px;
  max-width: 118px;
  font-family: DM Sans;
  font-size: 14px;
}
.testimonial-container {
  max-width: 1137px;
  margin: 0 auto;
}
.testimonial-items {
  overflow: hidden;
}
.testimonial-img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  transform: scale(0.5);
  filter: grayscale(1);
  transition: all 0.3s linear;
}
.testimonial-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.testimonial-items.slick-center .testimonial-img {
  transform: scale(1);
  filter: grayscale(0);
}
.testimonial-items.sl-next .testimonial-img,
.testimonial-items.sl-prev .testimonial-img {
  transform: scale(0.8);
  filter: grayscale(0.7);
}
.testimonial-cntn-items {
  text-align: center;
}
.testimonial-cntn-items > h3 {
  font-size: 14px;
  color: var(--primary-color);
}
.testimonial-cntn-items > p {
  font-size: 16px;
  color: var(--secondary-color);
  max-width: 786px;
  margin: 0 auto 30px;
}
.testimonial-cntn-items > .small-p {
  font-size: 12px;
  color: #666666;
}
.testimonial-nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding-inline: 100px;
}
.prev-btn img,
.next-btn img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  padding: 10px;
  border-radius: 50%;
  background: white;
  box-shadow: 4px 4px 8px gray;
  border: none;
  cursor: pointer;
}
.prev-btn > img:active,
.next-btn > img:active {
  background: var(--primary-color);
}
.get-box {
  width: 945px;
  background-color: #8a737d;
  border-radius: 6px;
  min-height: 127px;
  bottom: calc(-127px / 2);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 35px;
  position: absolute;
}

.get-box > .title2 {
  font-size: 50px;
  margin: 0;
  color: white;
  font-family: SangBleu Sunrise;
}
.blank-btn {
  background-color: white;
  color: var(--primary-color);
  border-radius: 30px;
  padding: 17px 35px;
}
.blank-btn:hover {
  background-color: var(--primary-color);
}

/* Footer */
.footer-section {
  background-color: #18212d;
  padding-top: 123px;
  padding-bottom: 16px;
  border-radius: 20px 20px 0 0;
}
.footer-logo {
  max-width: 220px;
  padding-bottom: 15px;
}
.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-logo-caption > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-section .footer-heading {
  font-size: 25px;
  color: white;
  font-family: SangBleu Sunrise;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.footer-section ul > li > a {
  margin-bottom: 24px;
  color: white;
  font-family: DM Sans;
  transition: transform 0.3s ease;
}
.footer-section ul > li > a:hover {
  transform: scale(1.2);
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 25px;
}
.footer-form > input {
  outline: none;
  padding: 12px 14px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 50px;
  color: #ffffff;
  width: 293px;
}
.footer-form > button > img {
  border-radius: 50%;
  background-color: #aa6aaa;
  padding: 10px 15px;
}
button > img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}
.footer-icon {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}
.footer-icons {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons > img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.footer-icons {
  border-radius: 50%;
  background-color: white;
  padding: 13px;
  height: 100%;
}
.footer-icon :hover {
  transform: scale(1.1);
}
.footer-section > hr {
  color: #ffffff;
}
.fotter-span {
  width: 52px;
  display: block;
  background-color: white;
  height: 1px;
  margin-bottom: 32px;
}
.footer-section .footer-lst {
  color: #ffffff;
  font-family: DM Sans;
  margin-top: 17px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.footer-lst > a {
  color: var(--third-clr);
  margin-left: 2px;
}
.footer-icon .footer-icons {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .card-body {
    background-color: #f8f9fa;
    height: 178px;
  }
}
@media screen and (max-width: 992px) {
  .title1 {
    font-size: 32px;
  }
  .title2 {
    font-size: 28px;
  }

  /* Header Section */

  .nav-logo {
    max-width: 110px;
    left: 15px;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .nav-btn-sm {
    display: block;
    margin-left: auto;
  }
  .nav-btn-sm > a {
    font-size: 14px;
  }
  .nav-btn {
    display: none;
  }

  .offcanvas {
    flex-direction: column;
  }
  .offcanvas-header {
    display: flex;
    align-items: start;
    width: 100%;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  /* Banner Section */
  .banner-section {
    padding: 0 3.125vw 59px;
  }
  .banner-wrpr {
    padding-top: 48px;
  }
  .testimonial-section {
    padding: 80px 0 150px !important;
  }
  .get-box {
    width: 700px;
    padding: 30px 40px;
  }
  .get-box > img {
    display: none;
  }
  .get-box > .title2 {
    font-size: 40px;
  }
  .blank-btn {
    background-color: white;
    color: var(--primary-color);
    border-radius: 30px;
    padding: 17px 35px;
  }
  .testimonial-nav-buttons {
    padding-inline: 10px;
  }
}

@media screen and (max-width: 768px) {
  .testimonial-section {
    padding: 60px 0 100px !important;
  }
  .get-box {
    width: 500px;
    padding: 20px;
  }
  .get-box > .title2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .title1 {
    font-size: 28px;
  }
  .title2 {
    font-size: 26px;
  }
  /* Navbar Section */
  .navbar {
    --bs-navbar-padding-y: 2vw;
  }
  /* Banner Section */
  .banner-content > .btn {
    --bs-btn-padding-x: 12px;
    --bs-btn-padding-y: 10px;
  }
  .banner-content > figure {
    padding: 6.5px 7.5px 0;
  }
  .testimonial-section {
    padding: 30px 0 70px !important;
  }
  .testimonial-section .title2 {
    margin: 0 auto 20px;
    text-align: center;
  }
  .testimonial-cntn-items > h3 {
    font-size: 12px;
  }
  .testimonial-cntn-items > p {
    font-size: 14px;
    margin: 15px auto 15px;
  }
  .testimonial-cntn-items > .small-p {
    font-size: 10px;
    margin-bottom: 0;
  }
  .prev-btn > img,
  .next-btn > img {
    width: 26px;
    height: 26px;
  }
  .get-box {
    width: 310px;
    padding: 10px;
    min-height: 90px;
    bottom: calc(-90px / 2);
  }
  .get-box > .title2 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .blank-btn {
    border-radius: 30px;
    padding: 12px 15px;
    font-size: 12px;
  }
  .slider-btn {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 320px) {
  .col-md-4 {
    width: 100%;
  }
}
